<% layout('layout') -%>
  <div class="row">
    <div class="col l9 m9 s12">
      <div id="eventContainer" class="section scrollspy card-panel">
          <div class="container">
              <div class="row">
                  <div  class="col l12 m12 s12">
                      <h3 class="center header text_h2"><span class="span_h2"> <%= foundEvent.name %></span></h3>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col l12 m12 s12 center">
                    <h3>Introduction</h3>  
                    <p class="left-align light"><%= foundEvent.paragraph %></p>
                  </div>
                  <div class="col l12 m12 s12 center">
                    <h3>Impact</h3>  
                    <p class="left-align light"><%= foundEvent.impact %></p>
                  </div>
              </div>
              <div class="row">
                <div class="col l3 m3 6">
                  <img class="responsive-img" src="/img/events/<%= foundEvent.image1 %>">
                </div>
                <div class="col l3 m3 6">
                  <img class="responsive-img" src="/img/events/<%= foundEvent.image2 %>">
                </div>
              </div>

              <div class="row">
                <div class="col l12 m12 s12 center">
                  <div id="disqus_thread"></div>
                      <script>

                      /**
                      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                      /*
                      var disqus_config = function () {
                      this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                      this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                      };
                      */
                      (function() { // DON'T EDIT BELOW THIS LINE
                      var d = document, s = d.createElement('script');
                      s.src = '//nss-dtu.disqus.com/embed.js';
                      s.setAttribute('data-timestamp', +new Date());
                      (d.head || d.body).appendChild(s);
                      })();
                      </script>
                      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                </div>
            </div>
          </div>
      </div>

    </div>
    <div class="col l3 m3 s12">
      <%include ../partials/sidebar %>
    </div>

  </div>
